In [1]:
# Ce fichier vous servira pour vos exercises

importer la librairie pandas et renommer la en pd

Créer un DataFrame food_info via le fichier csv food_info.csv

Assigner la 100 eme ligne du dataframe food_info à la variable row_100

afficher le resultat.

Je voudrais connaitre le nombre de ligne effectives dans la colonne "Water_(g)" (Combien de lignes sont avec du contenu "donc sans la valeur NaN")

Assigner le résultat sous c_water et afficher le résultat

pour info : https://pandas.pydata.org/pandas-docs/stable/reference/frame.html

​
Sélectionner les 5 dernieres lignes de food_info et assigner à la variable last_rows.

Recommencer mais d'une autre façon en assignant la variable last_rows2


​
Assigner la colonne "protein_(g)" à la variable protein.

Assigner la colonne "Cholestrl_(mg)" à la variable cholesterol.

Afficher les resultats


​
Sélectionner les colonnes "Shrt_Desc", "Selenium_(mcg)" et "Thiamin_(mg)" et assigner le DataFrame resultant à la variable selenium_thiamin.

Afficher le résultat

In [2]:
import pandas as pd

food_info = pd.read_csv("food_info.csv")

In [3]:
row_100 = food_info.loc[99]

In [4]:
row_100

NDB_No                                  1111
Shrt_Desc          MILK SHAKES THICK VANILLA
Water_(g)                              74.45
Energ_Kcal                               112
Protein_(g)                             3.86
Lipid_Tot_(g)                           3.03
Ash_(g)                                 0.91
Carbohydrt_(g)                         17.75
Fiber_TD_(g)                               0
Sugar_Tot_(g)                          17.75
Calcium_(mg)                             146
Iron_(mg)                                0.1
Magnesium_(mg)                            12
Phosphorus_(mg)                          115
Potassium_(mg)                           183
Sodium_(mg)                               95
Zinc_(mg)                               0.39
Copper_(mg)                            0.051
Manganese_(mg)                         0.014
Selenium_(mcg)                           2.3
Vit_C_(mg)                                 0
Thiamin_(mg)                            0.03
Riboflavin_(mg)                        0.195
Niacin_(mg)                            0.146
Vit_B6_(mg)                            0.042
Vit_B12_(mcg)                           0.52
Vit_A_IU                                  91
Vit_A_RAE                                 25
Vit_E_(mg)                              0.05
Vit_D_mcg                                1.2
Vit_D_IU                                  48
Vit_K_(mcg)                              0.2
FA_Sat_(g)                             1.886
FA_Mono_(g)                            0.875
FA_Poly_(g)                            0.113
Cholestrl_(mg)                            12
Name: 99, dtype: object

In [5]:
c_water = food_info["Water_(g)"].count()

In [6]:
c_water

8612

In [7]:
food_info["Water_(g)"]

0       15.87
1       15.87
2        0.24
3       42.41
4       41.11
        ...
8613    43.00
8614    70.25
8615    26.00
8616    79.20
8617    78.50
Name: Water_(g), Length: 8618, dtype: float64

In [9]:
last_rows = food_info.tail()

In [10]:
last_rows

,NDB_No,Shrt_Desc,Water_(g),Energ_Kcal,Protein_(g),Lipid_Tot_(g),Ash_(g),Carbohydrt_(g),Fiber_TD_(g),Sugar_Tot_(g),...,Vit_A_IU,Vit_A_RAE,Vit_E_(mg),Vit_D_mcg,Vit_D_IU,Vit_K_(mcg),FA_Sat_(g),FA_Mono_(g),FA_Poly_(g),Cholestrl_(mg)
8613,83110,MACKEREL SALTED,43.00,305,18.50,25.10,13.40,0.00,0.0,0.0,...,157.0,47.0,2.38,25.2,1006.0,7.8,7.148,8.320,6.210,95.0
8614,90240,SCALLOP (BAY&SEA) CKD STMD,70.25,111,20.54,0.84,2.97,5.41,0.0,0.0,...,5.0,2.0,0.00,0.0,2.0,0.0,0.218,0.082,0.222,41.0
8615,90480,SYRUP CANE,26.00,269,0.00,0.00,0.86,73.14,0.0,73.2,...,0.0,0.0,0.00,0.0,0.0,0.0,0.000,0.000,0.000,0.0
8616,90560,SNAIL RAW,79.20,90,16.10,1.40,1.30,2.00,0.0,0.0,...,100.0,30.0,5.00,0.0,0.0,0.1,0.361,0.259,0.252,50.0
8617,93600,TURTLE GREEN RAW,78.50,89,19.80,0.50,1.20,0.00,0.0,0.0,...,100.0,30.0,0.50,0.0,0.0,0.1,0.127,0.088,0.170,50.0

In [12]:
last_rows1 = [8613, 8614, 8615, 8616, 8617]
last_row2 = food_info.loc[last_rows1]
last_row2

,NDB_No,Shrt_Desc,Water_(g),Energ_Kcal,Protein_(g),Lipid_Tot_(g),Ash_(g),Carbohydrt_(g),Fiber_TD_(g),Sugar_Tot_(g),...,Vit_A_IU,Vit_A_RAE,Vit_E_(mg),Vit_D_mcg,Vit_D_IU,Vit_K_(mcg),FA_Sat_(g),FA_Mono_(g),FA_Poly_(g),Cholestrl_(mg)
8613,83110,MACKEREL SALTED,43.00,305,18.50,25.10,13.40,0.00,0.0,0.0,...,157.0,47.0,2.38,25.2,1006.0,7.8,7.148,8.320,6.210,95.0
8614,90240,SCALLOP (BAY&SEA) CKD STMD,70.25,111,20.54,0.84,2.97,5.41,0.0,0.0,...,5.0,2.0,0.00,0.0,2.0,0.0,0.218,0.082,0.222,41.0
8615,90480,SYRUP CANE,26.00,269,0.00,0.00,0.86,73.14,0.0,73.2,...,0.0,0.0,0.00,0.0,0.0,0.0,0.000,0.000,0.000,0.0
8616,90560,SNAIL RAW,79.20,90,16.10,1.40,1.30,2.00,0.0,0.0,...,100.0,30.0,5.00,0.0,0.0,0.1,0.361,0.259,0.252,50.0
8617,93600,TURTLE GREEN RAW,78.50,89,19.80,0.50,1.20,0.00,0.0,0.0,...,100.0,30.0,0.50,0.0,0.0,0.1,0.127,0.088,0.170,50.0

In [13]:
num_rows = food_info.shape[0]
print(num_rows)
# shape[0] permet de connaitre le nombre de lignes dans notre DataFrame

last_rows = food_info.loc[num_rows - 5:num_rows -1]
last_rows

8618

,NDB_No,Shrt_Desc,Water_(g),Energ_Kcal,Protein_(g),Lipid_Tot_(g),Ash_(g),Carbohydrt_(g),Fiber_TD_(g),Sugar_Tot_(g),...,Vit_A_IU,Vit_A_RAE,Vit_E_(mg),Vit_D_mcg,Vit_D_IU,Vit_K_(mcg),FA_Sat_(g),FA_Mono_(g),FA_Poly_(g),Cholestrl_(mg)
8613,83110,MACKEREL SALTED,43.00,305,18.50,25.10,13.40,0.00,0.0,0.0,...,157.0,47.0,2.38,25.2,1006.0,7.8,7.148,8.320,6.210,95.0
8614,90240,SCALLOP (BAY&SEA) CKD STMD,70.25,111,20.54,0.84,2.97,5.41,0.0,0.0,...,5.0,2.0,0.00,0.0,2.0,0.0,0.218,0.082,0.222,41.0
8615,90480,SYRUP CANE,26.00,269,0.00,0.00,0.86,73.14,0.0,73.2,...,0.0,0.0,0.00,0.0,0.0,0.0,0.000,0.000,0.000,0.0
8616,90560,SNAIL RAW,79.20,90,16.10,1.40,1.30,2.00,0.0,0.0,...,100.0,30.0,5.00,0.0,0.0,0.1,0.361,0.259,0.252,50.0
8617,93600,TURTLE GREEN RAW,78.50,89,19.80,0.50,1.20,0.00,0.0,0.0,...,100.0,30.0,0.50,0.0,0.0,0.1,0.127,0.088,0.170,50.0

In [15]:
protein = food_info["Protein_(g)"]
print(protein)

0        0.85
1        0.85
2        0.28
3       21.40
4       23.24
        ...
8613    18.50
8614    20.54
8615     0.00
8616    16.10
8617    19.80
Name: Protein_(g), Length: 8618, dtype: float64

In [16]:
cholesterol = food_info["Cholestrl_(mg)"]
print(cholesterol)

0       215.0
1       219.0
2       256.0
3        75.0
4        94.0
        ...
8613     95.0
8614     41.0
8615      0.0
8616     50.0
8617     50.0
Name: Cholestrl_(mg), Length: 8618, dtype: float64

In [18]:
selenium_thiamin = food_info[["Shrt_Desc", "Selenium_(mcg)", "Thiamin_(mg)"]]

In [24]:
selenium_thiamin

                       Shrt_Desc  Selenium_(mcg)  Thiamin_(mg)
0               BUTTER WITH SALT             1.0         0.005
1       BUTTER WHIPPED WITH SALT             1.0         0.005
2           BUTTER OIL ANHYDROUS             0.0         0.001
3                    CHEESE BLUE            14.5         0.029
4                   CHEESE BRICK            14.5         0.014
...                          ...             ...           ...
8613             MACKEREL SALTED            73.4         0.020
8614  SCALLOP (BAY&SEA) CKD STMD            21.7         0.012
8615                  SYRUP CANE             0.7         0.130
8616                   SNAIL RAW            27.4         0.010
8617            TURTLE GREEN RAW            16.8         0.120

[8618 rows x 3 columns]

# (Cas pratique)

Selectionner et afficher seulement les colonnes qui utilisent comme unité de mesure les grammes (c'est à dire qui se termine par "(g)". Pour cela :

Utiliser l'attribut columns pour retourner le nom des colonnes du dataframe food_info et convertir en liste utilisant la methode tolist()

Créer une nouvelle liste qu'on nommera gram_columns, contenant seulement les colonnes se terminant par "(g)". Indice: la méthode endswith() retourne True si l'objet sur lequel on l'applique se termine par l'élément entre parenthèse. ex: total(g).endswith("g") retourne True. Une boucle for est fortement conseillé pour parcourir les noms de colonne. -Selectionner les colonnes de gram_columns pour le dataframe food_info et assigner le dataframe résultat à la variable gram_df

Afficher les 3 premieres valeurs de ce dataframe gram_df

Voici la doc pandas au cas ou : https://pandas.pydata.org/pandas-docs/stable/reference/io.html

Importer la librairie Pandas.

Lire le fichier "food_info.csv" dans un dataframe qu'on nommera food_info.

Utiliser l'attribut DataFrame columns suivi de la méthode Index.tolist() pour retourner une liste contenant tous les noms de colonne de food_info.

Assigner la liste resultante à la variable col-names et utiliser la fonction print() pour afficher le nom des colonnes.

Enfin afficher les 3 premiers éléments de food_info

# Transformer une colonne (pratique)

- Diviser la colonne "Sodium_(mg)" par 1000 pour convertir cette colonne en grammes et assigner le resultat à la variable sodium_grams.

- Multiplier la colonne "Sugar_Tot(g)" par 1000 pour convertir en milligrammes et assigner le resultat à la variable sugar_milligrams.

# Opérations mathématiques entre colonnes (pratique)

- Diviser la colonne "Protein(g)" par la colonne "Water(g)" et assigner le résultat à la variable grams_of_protein_per_gram_of_water.

- Additionner les colonnes "Calcium(mg)" et "Iron(mg" et assigner le résultat à la variable milligrams_of_calcium_and_iron.

- Afficher les resultats

Créer un indice nutritionnel (pratique)

Score = 2 x (Protein_(g)) - 0.75 x (LipidTot(g))

Multiplier la colonne "Protein_(g)" par 2 et assigner le résultat à la variable protein.

Multiplier la colonne "LipidTot(g)" par -0.75 et assigner le résultat à la variable fat.

Additionner les variables ensemble et assigner le résultat à la variable rating.

Afficher le résultat.

# Normaliser des colonnes (pratique)

- Normaliser les valeurs de la colonne "Protein_(g)" et assigner le resultat à la variable normalized_protein.

- Normaliser les valeurs de la colonne "Lipid_tot_(g)" et assigner à la variable normalized_fat.

- Afficher les variables normalized_protein et normalized_fat